@import '~antd/dist/antd.css';

.container {
  display: flex;
  .nav {
    width: 15vw;
    min-width: 180px;
    height: 100vh;
  }
  .main {
    background-color: #f1f3f5;
  }
  .content {
    position: relative;
    padding: 20px;
  }
}